html, body {
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

i {
    padding-left: 12px;
    text-align: center;
}

html, body {
    margin: 0px;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

i {
    padding-left: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#374f66;
    padding: 8px 12px;
    height: 125px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;;
} 

.navbar a {
    display: flex;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px 12px;

}

.navbar_menu a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: all .5s ease-out;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar_menu li {
    padding: 16px 24px;
}

.navbar_link {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_link li {
    padding: 8px 12px;
}

.favor {
    background-color: slategrey;
    width: auto;
    height: 100%;
}

.favor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
    height: auto;
    width: auto;
    min-height: calc(100vh - 141px);
    padding-bottom: 0;
    margin: 0;
}

.favor box {
    width: auto;
    padding-top: 150px;
}


.favor div {
    text-align: center;
    height: auto;
    color: #fff;
    font-size: 22px;
}

.favor ul {
    margin: 0;
    padding-left: 0;
}

.favor a {
    float: left;
}



.favor_img {
    padding: 55px 90px 30px 90px;
    vertical-align: middle;
    flex-direction: column;
    border-radius: 50%;
    width: 350px;
    height: 350px;

} 




footer {
    display: flex;
    align-items: center;
    background-color: slategray;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translateY(-100%);
}

.footer a:hover {
    color: #BCAC77;
}

.footer ul {
    padding-left: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer li {
    list-style: none;
    float: left;
}

@media screen and (max-width:1450px) {
    .favor {
        flex-direction: column;
    }
}